.container-fluid
  .row
    .col-xs-4
    .col-xs-2
      = image_tag image_path('LOGO.gif'), class: "img-responsive"
    .col-xs-1
    .col-xs-1
      = image_tag image_path('logo_ts.gif'), class: "img-responsive"
    .col-xs-4
%h1
  = @poll.title

= form_for [ @poll, @reply] do |f|
  = f.fields_for :answers do |c|
    = render c.object.question.kind, c: c
  %p
    = f.submit "Отправить голос", class: "btn btn-primary"
