:javascript
  function progress(poll_id) {
    var progress = setInterval(function () {
        var $bar = $('#progressbar1');
        $.get(poll_id + "/time_left.json", function (data) {
            if (data[1] === 0) {
                clearInterval(progress);
                location.reload();
            } else {
                $bar.width(data[1] + "%");
                $bar.text(data[0]);
            }
        })
            .fail(function () {
                clearInterval(progress);
                //location.reload();
            });
    }, 1000);
  }

%h1
  = @poll.title

%p.btn-group
  = link_to 'Edit', edit_poll_path(@poll), class: "btn btn-default"
  = link_to 'Back', polls_path, class: "btn btn-default"
  = link_to 'Add question', new_poll_question_path(@poll), class: "btn btn-default"

.panel.panel-default
  .panel-heading
    .h4 Timer
  .panel-body
    %p
      =form_tag(controller: 'polls' , action: :run) do
        .fields
          %h4
            =label_tag 'Minutes being active:'
            =number_field_tag :minutes, 5, min: 0
          =hidden_field_tag :id, @poll.id
        .actions
          =button_tag 'Start' , class: 'btn btn-success' , type: :submit
          =link_to 'Stop', stop_path_path(@poll), class: "btn btn-danger"
    %p
      -if @poll.active?
        :javascript
          - progress("#{@poll.id}")
        .progress
          .progress-bar{:role => "progressbar", :id => 'progressbar1'}
      -else
        Poll is inactive


%div
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      = link_to "Questions", "#tab-questions", data: {toggle: "tab"}
    %li{:role => "presentation"}
      = link_to "Replies", "#tab-replies", data: {toggle: "tab"}
    %li{:role => "presentation"}
      = link_to "Stats", "#tab-stats", data: {toggle: "tab"}
  / Tab panes
  .tab-content
    #tab-questions.tab-pane.active{:role => "tabpanel"}
      %h2 Questions

      %ul
        -@poll.questions.each do |question|
          %li=question.title
          %ul
            -question.possible_answers.each do |possible_answer|
              %li=possible_answer.title
    #tab-replies.tab-pane{:role => "tabpanel"}
      %h2 Replies

      -@poll.replies.each do |reply|
        .col-md-6
          .panel.panel-default
            .panel-heading.text-right
              = time_ago_in_words reply.created_at
            .panel-body
              %dl
                -reply.answers.each do |answer|
                  %dt
                    = answer.question.title
                  %dd
                    -if !answer.value.nil?
                      = answer.value
                    -else
                      -if !answer.possible_answer.nil?
                        = answer.possible_answer.title
                    -#= !answer.value.nil? ? answer.value : answer.possible_answer.title
    #tab-stats.tab-pane{:role => "tabpanel"}
      = render 'stats'